// Place all the styles related to the Freebase controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#content {
  margin-left: auto;
  margin-right: auto;
}

#no-results {
  margin-top: 1.5em;
}
